.notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.notfound img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}